{% extends "base.html" %}
{% block extrahead %}
<meta name="robots" content="noindex">
<meta property="og:url" content="https://operation-policy.mlserver.xyz/" />
<!-- <meta property="og:title" content="トップページ" /> -->
<meta property="og:description" content="MonsterLifeServerの運営方針" />
<!-- <meta property="og:image" content="https://operation-policy.mlserver.xyz/" /> -->
<meta name="og:site_name" content="MonsterLifeServer 運営方針">
<!-- <meta name="msapplication-TileImage" content="https://operation-policy.mlserver.xyz/" /> -->
{% endblock %}